* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, san-serif;
    
}

:root{
    --color1: #9bc7fa; 
    --color2: #9bd7fa;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5%;
    background: var(--color2);
    backdrop-filter: blur(10px);
    transition: all 1s ease;



}

.logo{
    font-size: 2rem;
    color: azure;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a {
    font-size: 1.3rem;
    color: azure;
    margin-left: 3rem;
    font-weight: 500;
    transition: 0.3s ease;
}
.navbar a:hover, .navbar a.active {
    color: black;
}

#menu-icon {
    font-size: 3rem;
    color: azure;
    cursor: pointer;
    display: none;
}