* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, san-serif;
    
}

:root{
    --color1: #9bc7fa; 
    --color2: #9bd7fa;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    background: var(--color2);
    backdrop-filter: blur(10px);
    transition: all 1s ease;



}

.logo{
    font-size: 2rem;
    color: azure;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a {
    font-size: 1.3rem;
    color: azure;
    margin-left: 3rem;
    font-weight: 500;
    transition: 0.3s ease;
}
.navbar a:hover, .navbar a.active {
    color: black;
}

#menu-icon {
    font-size: 3rem;
    color: azure;
    cursor: pointer;
    display: none;
}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    min-height: 100vh;
}

.h-img img{
    width: 25vw;
    border-radius: 100%;
    box-shadow: 0 0 25px var(--color2);
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;

}

.h-img img:hover {
    box-shadow: 0 0 25px var(--color2), 0 0 35px var(--color2), 0 0 45px var(--color2)
}
/* used the help of google to learn how to make a picture float(@keyframes)*/
@keyframes floatImage{
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.hcontent {
    margin-left: 5rem;
}
.hcontent h3 {
    font-size: 3.5rem;
    font-weight: 500;
}
/*selecting the second item of h3 in hcontent */
.hcontent h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--color2);
}

.hcontent h1{
    font-size: 5rem;
    font-weight: 500;
}
.hcontent p:nth-of-type(2){
   margin-bottom: 0.6rem;
   
}
.media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 50px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0.1rem solid var(--color2);
    border-radius: 100%;
    font-size: 2rem;
    color:black;
}

.media a:hover{
    background-color: var(--color2);
    color:azure;
    transform: scale(0.6);
    box-shadow: 0 0 25px var(--color2);
    
}

.btn{
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10%;
    font-size: 1.rem;
    color:black;
   border: 0.1rem solid var(--color2);
   margin-top: 0.5rem;
}
.btn:hover{
    background-color: var(--color2);
    color:azure;  
    box-shadow: 0 0 25px var(--color2);
    transform: scale(0.7);
}